@import "../../styles/mixins";

.opacity-layer {
  //display: none;
  z-index: -99;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  @include transition-mixin(opacity);

  &.open {
    //display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1;
  }
}

.modal {
  display: none;
  width: 400px;
  min-height: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  background: #ffffff;
  z-index: 10000;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  &.open {
    display: block;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  &__inner-holder {
    position: relative;
    padding: 20px 30px;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
}
